
/dist
/tmp
/out-tsc
/bazel-out
/.angular/cache

/node_modules
npm-debug.log
yarn-error.log

src/environments/environment*.ts

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/
.history/*
.husky/

/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

.DS_Store
Thumbs.db
