<div class="list-container list-w">
  <h3>
    <tr-title-changing-form btnName="changeListTitle" length="short" [currentTitle]="list().title" (updatedTitle)="changeTitle($event)" class="flex"></tr-title-changing-form>
  </h3>

    

  <div class="flex flex-col gap-3">
    @for(card of list().cards; track card.id){
    <tr-card class="wrap-break-word" [card]="card"></tr-card>
    }

    @if(!isCardAdding()){
    <tr-btn
      name="addCard"
      label="+ add card"
      [action]="openCardAddingForm"
      [disabled]="isCardAdding()"
    ></tr-btn>
    }@else{
    <tr-card-creating-form (newTitle)="addCard($event)" [onClose]="closeCardAddingForm"></tr-card-creating-form>
    }
  </div>
</div>
