<div class="main-container">
  @if (store.board(); as b) {
  <div class="main-container-header flex gap-6">
    <div>
      <a class="home-link ml-8" routerLink="/">Home</a>
    </div>
    <tr-title-changing-form [currentTitle]="b.title" (updatedTitle)="changeTitle($event)"></tr-title-changing-form>
  </div>
  
  <div class="main-container-body">
    <div class="main-scrollbar scrollbar-modern">
      @for (list of b.lists; track list.id) {
        <tr-list [list]="list"></tr-list>
      } 

      @if(!isListAdding()){
        <tr-btn name="addList" label="+ add another list" [action]="openListAddingForm" [disabled]="isListAdding()"></tr-btn>
      }@else{
      <tr-list-creating-form (newTitle)="createList($event)"
      [onClose]="closeListAddingForm" ></tr-list-creating-form>
      }

    </div>
  </div>
  } @else {
  <tr-custom-loading-overlay size="sm" message="Board loading...'"></tr-custom-loading-overlay>
  }
</div>
