<div class="main-container">
  @if (store.board(); as b) {
  <div class="main-container-header flex gap-6">
    <div>
      <a class="home-link ml-8" routerLink="/">Home</a>
    </div>
    <tr-title-changing-form [currentTitle]="b.title" (updatedTitle)="changeTitle($event)"></tr-title-changing-form>
  </div>

  <div class="main-container-body">
    <div class="main-scrollbar scrollbar-modern">
      @for (list of b.lists; track list.id) {
      <tr-list [list]="list"></tr-list>
      }
      <tr-btn role="createList" label="+ add list" [action]="createList" [disabled]="isListCreating()"></tr-btn>
    </div>
  </div>
  } @else {
  <tr-custom-loading-overlay size="sm" message="Board loading...'"></tr-custom-loading-overlay>
  }
</div>
