<form
  class="flex flex-col gap-4 rounded-xl bg-zinc-800 py-8 px-4 text-white shadow-lg"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <h2 class="mb-2 text-center  font-semibold text-stone-300">Створити дошку</h2>

  <label class="flex flex-col">
    <span class="text-stone-400 text-xs mb-0.5">Назва дошки</span>
    <input
      type="text"
      placeholder="введіть назву дошки"
      class="rounded-sm text-xs bg-zinc-900 py-1 px-2 placeholder-stone-500 focus:ring-1 focus:ring-stone-400 focus:outline-none"
      formControlName="title"
    />
    <div class="min-h-4 text-xs text-red-400 text-center">
      @if (form.controls['title']?.dirty || form.controls['title']?.touched) {
         @if(form.controls['title']?.errors?.['required']) {
          <small>Поле обов’язкове</small>
        }
        @if (form.controls['title']?.errors?.['pattern']) {
          <small>Назва недійсна</small>
        }
      } @else {
      <small class="invisible"> </small>
      }
    </div>
  </label>

  <button
    type="submit"
    [disabled]="form.invalid"
    class="cursor-pointer rounded-md text-sm bg-blue-900 py-0.5 font-semibold text-stone-300 transition-all duration-200 hover:bg-blue-800 disabled:cursor-not-allowed disabled:opacity-50 disabled:hover:bg-red-400"
  >
    Створити
  </button>

  <button type="button" (click)="closeModal()" class="text-stone-400 text-xs underline hover:text-stone-200">
    <span class="cursor-pointer">Закрити</span>
  </button>
</form>
