<div class="container mx-auto w-[80vw] rounded-2xl bg-zinc-900 text-neutral-400">
  <div class="m-8 grid gap-5 pb-6">
    <header class="grid h-20 grid-cols-[1fr_8fr_1fr] items-center px-2">
      <button routerLink="/" class="cursor-pointer truncate rounded-md bg-zinc-800 py-1 text-xs hover:bg-zinc-700">
        &lt; Додому
      </button>
      <tr-board-header-form [board]="board()" [form]="form" (titleUpdated)="updateTitle($event)"></tr-board-header-form>
    </header>

    <div class="flex justify-center">
      <section class="flex gap-5">
        @for (list of board()?.lists ?? []; track list.id) {
        <div class="rounded-md bg-zinc-800 p-2 px-2">
          <tr-list [title]="list.title" [cards]="list.cards"></tr-list>
        </div>
        }
        <button
          class="cursor-pointer rounded-md bg-zinc-800 px-2 py-1 text-xs hover:bg-zinc-700 hover:text-violet-400 disabled:opacity-50  disabled:cursor-not-allowed"
          (click)="createList()"
          [disabled]="isLoading()"
        >
           @if (isLoading()) { Створюється… } @else { + Додати список }
        </button>
      </section>
    </div>
  </div>
</div>
