<div class="mx-auto my-4 flex flex-col max-w-[85vw] items-center gap-10 rounded-xl bg-zinc-900 p-6">
  <div class="text-2xl font-extrabold text-orange-400">{{ title }}</div>

  <div class="flex flex-wrap justify-center gap-4">
    @for (board of boards(); track board.id) {
    <a
      class="h-[8vh] w-[15vw] cursor-pointer rounded-md p-2 wrap-break-word transition-all duration-200 ease-in-out hover:-translate-y-0.5 hover:scale-102 hover:shadow-lg"
      [ngStyle]="{ background: board.custom?.['color'] || '#fff' }"
      [routerLink]="['/board', board.id]"
    >
      {{ board.title }}
    </a>
<!-- Why the `color` property is not described in the board.custom interface? -->
    }
    <button
      class="h-[8vh] w-[15vw] cursor-pointer rounded-md bg-zinc-200 transition-all duration-200 ease-in-out hover:-translate-y-0.5 hover:scale-102 hover:text-green-600 hover:shadow-lg focus:outline-none disabled:opacity-50  disabled:cursor-not-allowed"
      (click)="createBoard()"
      [disabled]="isLoading()"
    >
      @if (isLoading()) {
      Створюється…
    } @else {
      + Створити дошку
    }
    </button>
  </div>
</div>
