<div class="list grid gap-3">
  <div class="font-bold text-orange-300">{{ list()?.title }}</div>

  <div class="grid gap-3">
    @for (card of list()?.cards; track card.id) {
    <tr-card [card]="card"></tr-card>
    }
    <button
      class="h-10 cursor-pointer rounded-md bg-zinc-900 px-2 text-xs hover:bg-zinc-700 hover:text-violet-400 disabled:cursor-not-allowed disabled:opacity-50"
      (click)="createCard()"
      [disabled]="isLoading()"
    >
     @if (isLoading()) { Створюється… } @else { + Додати картку }
    </button>
  </div>
</div>
