@import 'tailwindcss';

@theme {
  --color-main-100: #f4f4f5;
  --color-main-200: #e4e4e7;
  --color-main-300: #d4d4d8;
  --color-main-400: #9f9fa9;
  --color-main-500: #71717b;
  --color-main-600: #52525c;
  --color-main-700: #3f3f46;
  --color-main-800: #27272a;
  --color-main-900: #18181b;
  --color-main-950: #09090b;

  --color-primary: oklch(70.7% 0.165 254.624); /* blue-400 */
  --color-primary-light: oklch(80.9% 0.105 251.813); /* blue-300 */
  --color-success: oklch(72.3% 0.219 149.579); /* green-500 */
  --color-danger: oklch(70.4% 0.191 22.216); /* red-400 */
  --color-title-light: oklch(83.7% 0.128 66.29); /* orange-300 */
  --color-title: oklch(75% 0.183 55.934); /* orange-400 */
  
  --text-t-2: 0.125rem;
  --text-t-4: 0.25rem;
  --text-t-6: 0.375rem;
  --text-t-8: 0.5rem;
  --text-t-12: 0.75rem;
  --text-t-14: 0.875rem;
  --text-t-16: 1rem;
  --text-t-18: 1.125rem;
  --text-t-20: 1.25rem;
  --text-t-24: 1.5rem;
  --text-t-30: 1.875rem;

  --r2: 0.125rem;
  --r4: 0.25rem;
  --r6: 0.375rem;
  --r8: 0.5rem;
  --r12: 0.75rem;
  --r16: 1rem;
}

@layer components {
  .main-container {
    @apply mx-auto my-[5vh] grid h-[90vh] w-[80vw] grid-rows-[10%_90%];
  }
  .main-container-header {
    @apply bg-main-300 flex items-center rounded-t-(--r16);
  }
  .main-container-body {
    @apply bg-main-400 flex rounded-b-(--r16) p-4;
  }
  .main-scrollbar {
    @apply flex w-[80vw] gap-4 overflow-x-auto scroll-smooth;
  }
  .home-link {
    @apply bg-main-300 hover:bg-main-400 text-main-700 rounded-(--r8) px-2 py-1 font-semibold;
  }
  .board-w {
    @apply w-72;
  }
  .board-h {
    @apply h-36;
  }
  .list-w {
    @apply w-64;
  }
  .list-container {
    @apply bg-main-900 flex flex-col gap-4 rounded-(--r8) p-2;
  }

  /* ================= */

  @layer utilities {
    .scrollbar-modern {
      scrollbar-width: thin;
      scrollbar-color: var(--color-main-400) transparent;
    }

    .scrollbar-modern::-webkit-scrollbar {
      height: 86px;
    }

    .scrollbar-modern::-webkit-scrollbar-track {
      background: transparent;
      margin: 0 40px;
    }

    .scrollbar-modern::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 9999px;
      transition: background-color 0.3s ease;
    }

    .scrollbar-modern:hover::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.6);
    }
  }
}

body {
  background: var(--color-main-800);
  color: var(--color-main-200);
  font-size: var(--text-t-16);
}

h1 {
  font-size: var(--text-t-30);
  color: var(--color-main-700);
}
h3 {
  font-size: var(--text-t-18);
  color: var(--color-main-200);
}

.snack-bar-success {
  background: var(--color-main-700);
  color: var(--color-main-400);
}

.snack-bar-error {
  background-color: rgb(161, 78, 72);
  color: var(--color-main-400);
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #ccc;
  border-top-color: #3f3f46;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
