<form
  class="flex flex-col gap-4  px-4  text-white"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <h2 class="text-center pt-6 font-semibold text-stone-300">{{modalTitle()}}</h2>

  <label class="flex flex-col">
    <span class="mb-0.5 text-xs text-stone-400">{{label()}}</span>
    <input
      type="text"
      placeholder={{placeholder()}}
      class="rounded-sm bg-zinc-900 px-2 py-1 text-xs placeholder-stone-500 focus:ring-1 focus:ring-stone-400 focus:outline-none"
      formControlName="title"
    />

    <div class="min-h-4 text-center text-xs text-red-400">
      @if (form.controls['title']?.dirty || form.controls['title']?.touched) {
      @if(form.controls['title']?.errors?.['required']) {
      <small>Поле обов’язкове</small>
      } @if (form.controls['title']?.errors?.['pattern']) {
      <small>Назва недійсна</small>
      } } @else {
      <small class="invisible"> </small>
      }
    </div>
  </label>

  <button
    type="submit"
    [disabled]="form.invalid"
    class="cursor-pointer rounded-md bg-blue-900 py-0.5 text-sm font-semibold text-stone-300 transition-all duration-200 hover:bg-blue-800 disabled:cursor-not-allowed disabled:opacity-50 disabled:hover:bg-red-400"
  >
    Створити
  </button>
</form>
